/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
 
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

body {
  overflow-x: hidden;
  padding-top: 60px;

}

section {
  overflow-x: hidden;
  overflow-y: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
      margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
      color: white;
      text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: white;
  background-color: #555;
  a{
      color: $gray;
      &:hover {
          color: $gray-darker;
      }
  }
  small {
      float: left;
  }
  ul {
      float: right;
      list-style: none;
      li {
          float: left;
          margin-left: 15px;
      }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

// home background picture
.body-background{ 
  background-image: image-url('background.jpg');
  background-color: #DADADA;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body{
  padding-top: 50px;
  padding-bottom: 100px;
}

.bg {
  background-image: image-url('ucas.jpg');
  background-color: #DADADA;
  background-size: 100% 100%;
  padding-top: 50px;
  padding-bottom: 200px;
}

#side_credits_statistics {
  height: 120px;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.sideDiv_content {
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
  left: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 16px;
}

.side_credits_statistics_ctrlBlock {
  cursor: pointer;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  z-index: 50;
}

.side_credits_statistics_ctrlBlock #credits_statistics_slide_in_button {
  background: image_url("/images/side_course_table_button.png") repeat scroll left top rgba(0, 0, 0, 0);
  height: 85px;
  margin-top: 20px;
  position: absolute;
  left: 40px;
  top: 0;
  width: 16px;
}

.side_credits_statistics_ctrlBlock #credits_statistics_slide_in_button:hover {
  background: image_url("/images/side_course_table_button_hover.png") repeat scroll left top rgba(0, 0, 0, 0);
}






// @import 'bootstrap-sprockets';
// @import 'bootstrap';
// @import 'bootstrap/theme';

// .table{
//   margin-bottom: 10px;
// }

// .table-striped > tbody > tr:hover >.has_hover {
//   background-color: #C0C0C0;
// }

// footer {
//   background-color: #555;
//   color: white;
//   padding: 10px;
// }

// html {
//   height: 100%;
// }


